name: windows
on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 22 * * *'
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  ci:
    env:
      PROTOC_ARTIFACT_SUFFIX: win64
      PATH_SEP: ;
    runs-on: windows-latest
    strategy:
      matrix:
        go-version: [1.19.x,1.20.x,1.21.x]
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - id: go-cache-paths
        shell: bash
        run: |
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
      - name: Mod Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-protocompile-ci-${{ hashFiles('**/go.sum') }}
      - name: Test
        shell: bash
        run: make protoc && go test ./...
